<template>
  <div class="vh-100 vw-100 row g-0 justify-content-center align-items-center">
    <div class="col col-md-4">
      <div class="row g-4">
        <div class="col-12 text-center text-muted">
          <h2>SIGN IN TO YOUR ACCOUNT</h2>
        </div>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-12">
              <v-text-field 
                class=""
                v-model="username"
                placeholder="Username"
              />
            </div>
            <div class="col-12">
              <v-text-field 
                class=""
                v-model="password"
                type="password"
                placeholder="Password"
              />
            </div>
            <div class="col-12">
              <v-checkbox
                class=""
                label="Keep me signed in"
              />
            </div>
          </div>
        </div>
        <div class="d-grid col-12">
          <v-btn
            class="btn-primary btn-lg"
            @click="signIn"
          >
            SIGN IN
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { mapMutations } from 'vuex'
import VTextField from '@components/VTextField.vue'
import VCheckbox from '@components/VCheckbox.vue'
import VBtn from '@components/VBtn.vue'

const USERNAME = 'admin';
const PASSWORD = '1234';

export default defineComponent({
  name: "Login",
  components: {
    VTextField,
    VCheckbox,
    VBtn,
  },
  data(){
    return{
      username: null,
      password: null,
    }
  },
  methods: {
    signIn(){
      if(this.username === USERNAME && this.password === PASSWORD){
        this.setUser({
          name: this.username
        });
        this.$router.replace({ name: 'Users' });
      }else{
        this.$root.$alert?.show('Wrong username or password', 'danger')
      }
    },
    ...mapMutations('user', ['setUser'])
  }
});
</script>

<style scoped lang="scss">

</style>
