<template>
  <div class="row g-0 vh-100">
    <nav-menu class="col-md-3" />
    <div class="col-md-9  overflow-auto h-100">
    <main class="position-relative">
      <div class="row g-0 justify-content-end">
        <div class="col-auto px-4 pt-5">
          <h1 class="border-bottom border-5 border-dark px-2"><strong>USERS</strong></h1>
        </div>
      </div>
      <div class="row g-0">
        <transition-group name="fade">
          <div class="col-sm-6 col-md-4 col-lg-3 p-lg-5 p-md-4 p-sm-3 p-2 "
            v-for="user in usersData" :key="user.id"
          >
            <div class="card user-card shadow-sm"
              @click="openUserModal(user)"
            >
              <img class="card-img"
                :src="user.image"
              >
              <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-white text-center">
                <h6 class="card-title fw-bold">{{ user.name }}</h6>
                <p class="card-text">{{ user.address.city }}</p>
                <a class="email-message-link link-light"
                  :href="`mailto:${user.email}?subject=We are hiring!&body=Hello ${user.name}`"
                  @click.stop
                >
                  <i class="bi-envelope" />
                </a>
              </div>
            </div>
          </div>
        </transition-group>
      </div>
      <v-modal
        v-model:open="userModal.isOpen"
        width="70%"
        height="auto"
        absolute
      >
        <div v-if="user = userModal.user" class="card user-modal border-0 mh-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="card-img" :src="user.image" >
            </div>
            <div class="col-md-8">
              <div class="card-body d-flex flex-column justify-content-center ps-5 h-100">
                <div class="d-flex align-items-center fs-5 fw-bold my-1">
                  <div class="list-icon border border-2 border-dark rounded-circle overflow-hidden
                    d-flex align-items-center justify-content-center">
                    <i class="bi-person-fill" />
                  </div>
                  <span class="card-text ms-3">{{ user.name }}</span>
                </div>
                <div class="d-flex align-items-center fs-5 fw-bold my-1">
                  <div class="list-icon border border-2 border-dark rounded-circle overflow-hidden
                    d-flex align-items-center justify-content-center flex-shrink-0">
                    <i class="bi-envelope-fill" />
                  </div>
                  <a class="card-text link-dark text-decoration-none ms-3"
                    :href="`mailto:${user.email}?subject=We are hiring!&body=Hello ${user.name}`"
                  >{{ user.email }}</a>
                </div>
                <div class="d-flex align-items-center fs-5 fw-bold my-1">
                  <div class="list-icon border border-2 border-dark rounded-circle overflow-hidden
                    d-flex align-items-center justify-content-center">
                    <i class="bi-telephone-fill" />
                  </div>
                  <span class="card-text ms-3">{{ user.phone }}</span>
                </div>
                <div class="d-flex align-items-center fs-5 fw-bold my-1">
                  <div class="list-icon border border-2 border-dark rounded-circle overflow-hidden
                    d-flex align-items-center justify-content-center">
                    <i class="bi-house-door-fill" />
                  </div>
                  <span class="card-text ms-3">{{ user.address.city }}, {{ user.address.street }}</span>
                </div>
                <div class="d-flex align-items-center fs-5 fw-bold my-1">
                  <div class="list-icon border border-2 border-dark rounded-circle overflow-hidden
                    d-flex align-items-center justify-content-center">
                    <i class="bi-globe" />
                  </div>
                  <span class="card-text ms-3">{{ user.website }}</span>
                </div>
              </div>
            </div>
          </div>
          <i class="close bi-x fs-1" @click="userModal.isOpen = false" />
        </div>
      </v-modal>
    </main>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import NavMenu from '@components/NavMenu.vue'
import VModal from '@components/VModal.vue'

export default defineComponent({
  name: "UsersPage",
  components: {
    NavMenu,
    VModal
  },
  data(){
    return{
      usersData: [],
      userModal: {
        isOpen: false,
        user: null,
      }
    }
  },
  created(){
    this.fetchUsers();
  },
  methods: {
    async fetchUsers(){
      try{
        const res = await fetch('https://api.mocki.io/v1/134409c3', {
          method: 'GET',
        });
        if(res.ok){
          this.usersData = await res.json();
        }else{
          throw new Error(res.statusText);
        }
      }catch(e){
        console.error(e.message);
      }
    },
    openUserModal(userData){
      this.userModal = {
        isOpen: true,
        user: userData,
      }
    }
  }
  
});
</script>

<style scoped lang="scss">
@import '~bootstrap/scss/bootstrap';

.user-card{
  position: relative;

  &:hover{
    .card-img-overlay{
      opacity: 1;
    }
  }
  .card-img-overlay{
    background: rgba(#333, 0.5);
    opacity: 0;
    transition-duration: 0.4s;
  }
  .email-message-link{
    position: absolute;
    top: 4px;
    right: 8px;
  }
}
.user-modal{
  position: relative;
  .list-icon{
    height: 36px;
    width: 36px;
  }
  .card-img{
    object-fit: contain;
    max-height: 400px;
  }
  .close{
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
  }
}

@include media-breakpoint-up(md){
  .user-modal{
    .card-img{
      object-fit: cover;
    }
  }
}
</style>
