<template>
  <nav class="navmenu align-items-start bg-light h-100"
    :class="{ 'navmenu--opened': opened }"
  >
    <v-btn class="navmenu__toggle btn-lg d-md-none rounded-0"
      type="light"
      @click="opened = !opened"
    >
      <i class="bi-list fw-bold" />
    </v-btn>
    <div class="row row-cols-1 flex-column p-4 gy-5 gx-0 h-100 w-100 m-0">
      <div class="col mt-0">
        <h3 class="fw-bolder">Logo</h3>
      </div>
      <ul class="navmenu-nav col flex-column flex-grow-1">
        <li class="nav-item d-grid border-top border-bottom border-2 border-dark w-100 my-3"
          v-for="n in 3" :key="n"
        >
          <v-btn type="light rounded-0 fs-4 fw-bold">
            MENU ELEMENT
          </v-btn>
        </li>
      </ul>
      <div class="fs-3 fw-bold">
        <v-btn class="fs-3 fw-bold" type="light"
          @click="logOut"
        >
          <i class="bi-box-arrow-left" />
        </v-btn>
        {{ user ? user.name : '' }}
      </div>
    </div>
  </nav>
</template>

<script>
import { defineComponent } from 'vue'
import { mapMutations, mapState } from 'vuex'
import VBtn from '@components/VBtn.vue'

export default defineComponent({
  components: {
    VBtn
  },
  data(){
    return{
      opened: false,
    }
  },
  computed: {
    ...mapState('user', ['user'])
  },
  methods: {
    logOut(){
      this.setUser(null);
      this.$router.push({ name: 'Login' });
    },
    ...mapMutations('user', ['setUser'])
  }
});
</script>

<style scoped lang="scss">
@import '~bootstrap/scss/bootstrap';

.navmenu{
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.4s;
  transform: translateX(-100%);
  z-index: 9;

  &--opened{
    position: relative;
    transform: translateX(0);
    transition-duration: 0.2s;

    .navmenu__toggle{
      right: 0;
      left: auto;
    }
  }
  &__toggle{
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 9;
  }
}

@include media-breakpoint-up(md){
  .navmenu{
    position: relative;
    transform: translateX(0);
  }
}

.navmenu-nav{
  >.nav-item{
    margin-bottom: 16px;
  }
}
</style>
