<template>
  <transition name="fade">
    <div
      v-if="isShow"
      class="alert position-fixed"
      :class="`alert-${type}`"
    >
      {{ msg }}
    </div>
  </transition>
</template>

<script>
import { defineComponent,  } from 'vue'

export default defineComponent({
  data(){
    return{
      isShow: false,
      type: 'primary',
      msg: null,
    }
  },
  watch: {
    isShow: {
      handler(val) {
        if(val){
          setTimeout(() => {
            this.isShow = false;
          }, 2000)
        }
      },
      immediate: true,
    }
  },
  created(){
    this.$root.$alert = this;
  },
  methods: {
    show(msg, type = 'primary'){
      this.isShow = true;
      this.type = type;
      this.msg = msg;
    }
  }
});
</script>

<style scoped lang="scss">
.alert{
  top: 16px;
  right: 16px;
}
</style>
