<template>
  <button
    class="btn"
    :class="`btn-${type}`"
    type="button"
  >
    <slot />
  </button>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    type: {
      type: String,
      default: 'primary'
    }
  }
});
</script>

<style scoped lang="scss">

</style>
