<template>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      v-bind="$attrs"
    />
    <label v-if="label" class="form-check-label">
      {{ label }}
    </label>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    label: String,
  }
});
</script>

<style scoped lang="scss">

</style>
