<template>
  <transition name="fade">
    <div
      v-if="open"
      class="v-modal d-flex"
      :class="{'v-modal--absolute': absolute}"
      @click="!$event.isDialog && $emit('update:open', false)"
    >
      <div class="v-modal__inner d-flex justify-content-center align-items-center">
        <div
          :style="{
            width: width,
            height: height
          }"
          @click="$event.isDialog = true"
        >
          <slot />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    absolute: Boolean,
    open: Boolean,
    width: {
      type: String,
      default: '50%'
    },
    height: {
      type: String,
      default: '40%'
    },
  },
  emits: ['update:open'],
  data(){
    return{
      isOpen: false
    }
  },
  watch: {

  }
});
</script>

<style scoped lang="scss">
.v-modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(#333, 0.8);
  z-index: 99;

  &--absolute{
    position: absolute !important;
    width: 100% !important;
    min-height: 100%;
    height: auto !important;
  }
  &__inner{
    position: relative;
    width: 100%;
    max-height: 100vh;
  }
}
</style>
