<template>
  <div>
    <label v-if="label" class="form-label">
      {{ label }}
    </label>
    <input
      class="form-control rounded-0"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      v-bind="$attrs"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    label: String,
    modelValue: String
  },
  emits: ['update:modelValue']
});
</script>

<style scoped lang="scss">

</style>
