<template>
  <router-view />
  <v-alert />
</template>

<script>
import VAlert from '@components/VAlert.vue'

export default {
  name: "App",
  components: {
    VAlert
  }
};
</script>

<style lang="scss">
@import './scss/index.scss';

body{
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
